{{define "content"}}
<h1>
	{{.DisplayName}}
	<sub-title>{{.Name}}</sub-title>
</h1>

<p>{{.Notes}}
{{if .NotesURL}}<a href="{{.NotesURL}}">More info</a>{{end}}
</p>

<table>
	<tr><th>Last check</th><td><time>{{.LastCheck}}</time></td></tr>
	<tr>
		<th>State</th>
		<td>
			<chip class="{{if eq .State 0}}ok{{else}}bad{{end}}">{{.State}}</chip>
			{{if .Acknowledgement}}<chip class="info">Acknowledged</chip>{{end}}
		</td>
	</tr>
	<tr><th>CheckCommand</th><td>{{.CheckCommand}}</td></tr>
	<tr><th>Raw command</th><td><code>{{.LastCheckResult.RawCommand}}</code></td></tr>
</table>

<figure>
	<pre>{{.LastCheckResult.Output}}</pre>
</figure>
{{end}}